{% extends 'base.html.twig' %}

{% block title %}List of ingredients!{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success mt-4 mb-b">
                {{message}}
            </div>
        {% endfor %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Cost price</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for data in ingredient_list %}
                <tr>
                    <th scope="row">{{ data.id}}</th>
                    <td>{{ data.name }}</td>
                    <td>{{ data.costprice}} Euro</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('update_ingredient',{'id':data.id}) }}">Update</a>
                        <a class="btn btn-danger" href="{{ path('delete_ingredient',{'id':data.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <tr>
            <a class="btn btn-info" href="{{ path('create_ingredient') }}">Create ingredient</a>
            <a class="btn btn-danger" href="{{ path('home') }}">Back to pizza</a>
        </tr>
    </div>
{% endblock %}
