{% extends 'base.html.twig' %}

{% block title %}Update ingredient!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h3 class="mt-5 mb-5">Update Form</h3>
        {% for message in app.flashes('notice')%}
            <div class="alert alert-success">
                {{message}}
            </div>
        {%endfor%}
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name)}}
                {{ form_widget(form.name,{'attr':{'class':'form-control'}})}}
            </div>
            <div class="form-group">
                {{ form_label(form.cost_price)}}
                {{ form_widget(form.cost_price,{'attr':{'class':'form-control'}})}}
            </div>
            <div class="form-group">
                <button class="btn btn-info mt-2 text-white">Update</button>
                <a class="btn btn-danger mt-2" href="{{ path('ingredient_list') }}">Back</a>
            </div>
            {{ form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}
